.campground-list-image {
  min-height: 400px;
  overflow: hidden;
}

.campground-name {
  background-color: rgba(122, 194, 173, 0.7);
}

.logo-icon {
  font-size: 30px;
}

.logo-name {
  font-size: 30px;
}
