.campground-list-image {
  min-height: 400px;
  overflow: hidden;
}

.campground-name {
  background-color: rgba(255, 255, 255, 0.8);
}

.logo-icon {
  font-size: 30px;
}

.logo-name {
  font-size: 30px;
}
